.postDetails{
    width: 75%;
    padding: 3%;
    border: 2px solid cyan;
    border-radius:12px;
    background: rgb(0, 0, 0);
    margin: 5% auto;
    color: rgb(255, 230, 0);
}
.postDetails h1{
    font-size: 24px;
    font-family: 'Raleway', sans-serif !important;
    font-weight: 400 !important;
    text-transform: capitalize;
}
.title2{
    color: cyan;
}
.postDetails p{
    font-size: 18px;
    color:rgb(195, 255, 0);
    text-transform: capitalize;
}
.body{
    color: rgb(255, 208, 0);
    font-weight: 700;
}
.detailsHeadline{
    text-align: center;
    font-size:35px !important;
    color: red;
    font-weight: 700;
}